<footer class="page-footer">
  <!-- Contact -->
  <section class="contacts">
    <div class="container">
      <h2 class="visuallyhidden">Kontakter</h2>
      <div class="row">

        <div class="span4 contact">
          
          <img class="contact--avatar" src="img/staffguy.jpg">

          <h3 class="contact--name">Ola Nordmann</h3>
          <p class="contact--title">Selger</p>
          <a href="mailto:frank@front.no" class="contact--email"><i class="icon-envelope"></i>ola@parkett-interior.no</a><br>
          <a href="tel:+4790134585" class="contact--phone"><i class="icon-phone"></i>901 34 585</a>
        </div> <!-- End span4 -->

        <div class="span4 contact">
          
          <img class="contact--avatar" src="img/staffguy.jpg">

          <h3 class="contact--name">Ola Nordmann</h3>
          <p class="contact--title">Selger</p>
          <a href="mailto:frank@front.no" class="contact--email"><i class="icon-envelope"></i>ola@parkett-interior.no</a><br>
          <a href="tel:+4790134585" class="contact--phone"><i class="icon-phone"></i>901 34 585</a>
        </div> <!-- End span4 -->

        <div class="span4 contact">
          
          <img class="contact--avatar" src="img/staffguy.jpg">

          <h3 class="contact--name">Ola Nordmann</h3>
          <p class="contact--title">Selger</p>
          <a href="mailto:frank@front.no" class="contact--email"><i class="icon-envelope"></i>ola@parkett-interior.no</a><br>
          <a href="tel:+4790134585" class="contact--phone"><i class="icon-phone"></i>901 34 585</a>
        </div> <!-- End span4 -->

      </div>
    </div>
  </section>
  <div class="footer-bottom">
    <div class="container">
      <p><img src="http://placehold.it/150x20" alt="Logo"> Parkett & Interiør. Adresse. Telefonnummer. Epost</p>
    </div>
  </div>
</footer>